@{
    ViewBag.Title = "Home";
}
<h1>Welcome to Rabies application.</h1>


<style>
    .bigbutton {
        border: 1px solid blue;
        border-radius: 50%;
        /*background: #fff;*/
        margin: 5px;
        min-height: 180px;
        min-width: 180px;
    }

    .fluidButton {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>

<div class="fluidButton">
    <div>
        <button class="bigbutton" onclick="location.href='@Url.Action("BiteForm", "Bites")'">New Bite</button>
    </div>

    <div>
        <button class="bigbutton" onclick="location.href='@Url.Action("Index", "Bites")'">Existing Bite</button>
    </div>
</div>

<div class="fluidButton">
    <div>
        <button type="button" class="bigbutton" >Add a Vet</button>
    </div>

    <div>
        <button class="bigbutton">Edit Vet</button>
    </div>
</div>


