@{
    ViewBag.Title = "Home";
}
<h1 style="color: #FFF; position: absolute; left: 50%;">Welcome to Rabies application.</h1>


<style>
    body {
        background-image: url('../../Content/images/pets_homepage.jpg');
        background-repeat: no-repeat;
        background-size: 100vw 100%;
        background-position-y: 40px;
    }
</style>

<div id="background">
    
</div>

